* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

body {
    background:#ebae5333;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth !important;
}

table {
    border-color: #414042 !important;
    width: 350px !important;
}

table .img-container {
    vertical-align:middle; 
    text-align:center;
}


/* Age Confirm Section */
div.age-confirm {
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: opacity 5s ease-out;
}

div.age-confirm img.background-img {
    width: 663.11px;
    height: 663.43px;
    left: -113px;
    top: -9px;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

div.age-confirm div.container {
    position: relative;
    z-index: 2;
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

div.age-confirm div.container .header-logo img {
    width: 231px;
    height: 73.07px;
    
}

div.age-confirm div.container .age-confirm-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.age-confirm div.container .age-confirm-switch h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #FFFFFF;
}

.switch-container span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.switch-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Rounded Switch - Age Confirm Section */
.age-confirm .switch {
    position: relative;
    display: inline-block;
    width: 127px;
    height: 72px;
    margin: 0px 15px
}

.age-confirm .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.age-confirm .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.age-confirm .slider:before {
    position: absolute;
    content: "";
    height: 56px;
    width: 56px;
    left: 8px;
    bottom: 8px;
    background-color: #C4C4C4;
    -webkit-transition: .4s;
    transition: .4s;
}

.age-confirm input:checked + .slider {
    background-color: #EBAD53;
}

.age-confirm input:focus + .slider {
    box-shadow: 0 0 1px #EBAD53;
}

.age-confirm input:checked + .slider:before {
    -webkit-transform: translateX(56px);
    -ms-transform: translateX(56px);
    transform: translateX(56px);
    background-color: white;
}

.age-confirm .slider.round {
    border-radius: 49px;
}

.age-confirm .slider.round:before {
    border-radius: 50%;
}

/* Landing Page - Index.html */

/* Header */
div.header-container {
    display:flex;
    justify-content: flex-end;
	align-items:center;
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    box-shadow: none;
}

a.logo-link {
    margin-top: 30px;
}

div.header-logo-container img.header-logo {
    width: 70px;
    display: flex;
    align-items: center;
    margin: auto
}

div.header-logo-container {
    width: 90%;
    margin: auto;
    transform: rotate(180deg)
}

div.header-container div.searchbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


div.header-container div.searchbar #searchbar {
    width: 298px;
    height: 40px;
    background: #E9E9E9;
    border-radius: 49px;
    padding: 25px 30px;
    font-size: 18px;
    border: none;
    color: #828282;
    font-family: 'Roboto', sans-serif;


}

div.header-container div.searchbar .search-icon {
    background: #CBCBCB;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}

/* wrapper */
div.wrapper {
    width: 100%;
    margin: auto;
}

/* Hero section */
section.hero-section {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* section.hero-section nav {
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-600px);  
    width: 100vh;
    min-width: 100vh;
    max-height: 918px !important;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    margin: auto 0;
} */

div.navigation {
    transition: left 0.3s;
}

div.navigation nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 100;

}

div.navigation.overlay-black nav {
    background-color: rgba(41, 62, 70, 0.5);
}

div.navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    
}

div.navigation nav ul {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    width: 100%;
    height: 90vh;
    margin: auto;
    padding-left: 25px
    
}

div.navigation nav ul li:not(.li-logo-container) {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto 0px;
    padding: 15px;
    padding-right: 50px;
    transition: 0.3s;
    
}

div.navigation nav ul li:not(.li-logo-container):hover {
    background: #EBAD53;
    border-radius: 10% 0% 0% 10%;
}

div.navigation nav ul li:not(.li-logo-container):hover a {
    color: white
}

div.navigation nav ul li.active {
    background: #EBAD53;
    border-radius: 10% 0% 0% 10%;
}

div.navigation nav ul li.active a {
    color: white
}

div.navigation.overlay-black nav ul a {
    color: #FFFFFF
}


div.navigation nav ul li a {
    color: #293E46;
    transition: color .3s;
    display: block;
    text-decoration: none;
    font-weight: bold !important;
    font-family: 'Barlow', sans-serif;
    font-size: 16px
}


section.hero-section .hero-content-container {
    width: 90%;
    margin: auto ;
    position: relative;
    display: flex;
    justify-content: center;
}


body.brand-page section.hero-section .hero-content-container {
    width: 50%;
    margin: 15% 0 0 auto;
}

section.hero-section .hero-content-container .hero-text h1.main-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 121px;
    line-height: 91.03%;
    margin-bottom: 20px;
    color: #414042
}

section.hero-section .hero-content-container .hero-text h1.sub-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 88.53%;
    color: #EBAD53;
    margin-bottom: 40px
}

body.brand-page section.hero-section .hero-content-container .hero-text h1 {
    color: #FFFFFF;
    font-size: 5vw;
}

section.hero-section .hero-content-container .hero-text p {
    font-size: 17px;
    font-family: 'Barlow', sans-serif;
    line-height: 140.62%;
    margin-bottom: 20px;
    width: 100%;
    color: #293E46;
}


body.brand-page section.hero-section .hero-content-container .hero-text p {
    color: #FFFFFF;
}

body.book-a-call section.hero-section .hero-content-container .hero-text,
body.our-story section.hero-section .hero-content-container .hero-text {
    width: auto;
}


section.hero-section .hero-content {
    width: 90%;
    margin: auto;
}

section.hero-section .hero-content-container .hero-img {
    position: relative;
    z-index: -1;
}

section.hero-section .hero-content-container .hero-img-bottle {
    -webkit-filter: drop-shadow(10px 10px 5px rgba(34, 34, 34, 0.719));
    filter: drop-shadow(10px 10px 5px rgba(34, 34, 34, 0.719));
}

section.hero-section .hero-content-container .hero-img img {
    height: 100%;
}


/* Section 2 - Brands on borad section */
section.section-2 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 20px 0px;
}

.header-container .mobile, .mobile {
    display: none;
}

header.section-header {
    width: 80%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
    color: #293E46
}

section.section-2 .brand-slider {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

section.section-2 .brand-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
}

section.section-2 .brand-items::-webkit-scrollbar, section.section-5 .s5-testimonials::-webkit-scrollbar {
    width: 12px;
    
  }
  
  /* Track */
  section.section-2 .brand-items::-webkit-scrollbar-track, section.section-5 .s5-testimonials::-webkit-scrollbar-track {
    background: #E1E1E1;
    margin: 0px 200px;
    border-radius: 10px;
  }
   
  /* Handle */
  section.section-2 .brand-items::-webkit-scrollbar-thumb, section.section-5 .s5-testimonials::-webkit-scrollbar-thumb {
    background: #C2C2C2;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  section.section-2 .brand-items::-webkit-scrollbar-thumb:hover, section.section-5 .s5-testimonials::-webkit-scrollbar-thumb:hover {
    background: rgba(192, 188, 188, 0.8); 
  }


section.section-2 .brand-item {
    width: 270px;
    margin: 50px 25px;
}


section.section-2 .brand-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 270px;
    margin: auto
}


section.section-2 .brand-img .brand-logo {
    background-color: #EBAD53;
    height: 99px;
    width: 99px;
    border-radius: 50%;
    position: absolute; 
    left: 150px;
    top: 15px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.section-2 .brand-img .brand-logo img {
    width: 70%;
}

section.section-2 .brand-img > img {
    width: auto;
    height: 223px;
    position: relative;
}

section.section-2 .brand-description {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

section.section-2 .brand-description h3 {
    margin: 5px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #293E46;
}

section.section-2 .brand-description span {
    font-family: 'Barlow', sans-serif;
    font-size: 11px;
    color: #293E46;
}

section.section-2 .brand-description a {
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #293E46;
}

section.section-2 .brand-description a:hover {
    color: #EBAD53
}

/* Section 3 - Our Story */
section.section-3 {
    max-width: auto;
    width: 100%;
    margin: 100px 0px
}
section.section-3 .first-background {
    background-image: url("../img/first-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 50px;
}

section.section-3 .second-text {
    padding: 100px 50px;
    background-color: #EBAD53;
    color: white;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}

hr {
    border: 1px solid #414042 !important;
    width: 100%;
}

h1.main-header-dark {
    font-weight: bold;
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #414042;
}

span.sub-heading {
    font-weight: bold;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #414042;
}

section.section-3 .s3-overlay {
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 91px 0px;
}

section.section-3 .s3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1440px;
    margin: auto
}

section.section-3 .s3-container .s3-story-text { 
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

section.section-3 .s3-container .s3-story-icon img {
    width: 100%;
    fill: rgb(255, 255, 255);
    height: auto
}

section.section-3 header.section-header {
    width: 100%;
    color: white;
}

section.section-3 .s3-container .s3-story-text p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 400px;
    margin-bottom: 0px;
    color: white
}


section.section-3 .s3-container .s3-story-text a {
    margin-top: 38px;
    padding: 16px 24px;
    background: #FFFFFF;
    color: #293E46;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


/* Section 4  */
section.section-4 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}

.modal {
    transition: 0.3s ease-in-out;
}

section.section-4 .s4-container {
    width: 80%;
    margin: auto;
}

section.section-4 .s4-container > p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 65px;
    color: #293E46;
}

.services {
    margin: 50px 0px
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 60px
}

.service-container:hover{
    box-shadow: -2px 11px 23px rgba(181, 169, 141, 0.47)
}

.service-modal {
    background-color: #EBAD53;
    border-radius: 70px;
    overflow: hidden;
}

.service-container .service-name {
    margin-bottom: 30px;;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    color: #414042;
}

.service-container .service-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #414042;
    text-align: center;
}

.service-modal-text h1 {
    color: white;
}

.service-modal-text hr {
    border: 1px solid #FCFCF4 !important;
    background-color: white;
}

.service-modal-text p {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white
}

.close {
    position: absolute !important;
    right: 60px;
    top: 20px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

.service-container img{
    margin-bottom: 50px
}

section.section-4 .s4-goals {
    margin-bottom: 150px;
}

section.section-4 .s4-goals .s4-goal {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

section.section-4 .s4-goals .s4-goal h1,  section.section-4 .s4-goals .s4-goal p{
    width: 100%
}

section.section-4 .s4-goals .s4-goal h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
    margin: 0;
    color: #293E46
}

section.section-4 .s4-goals .s4-goal p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    color: #293E46
}

section.section-4 .s4-why-choose {
    display: flex;
    align-items: center;
    justify-content: center;
}


section.section-4 .s4-wc-text {
    width: 100%;
}

section.section-4 .s4-wc-text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 10vw;
    margin-bottom: 60px;
    color: #293E46
}

section.section-4 .s4-wc-text button {
    padding: 15px 40px;
    color: white;
    background-color: #293E46;
    border: none;
    border-radius: 5px;
    margin-bottom: 110px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

section.section-4 .s4-wc-text p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 120px;
    margin-top: 0px;
    color: #293E46
}

section.section-4 .s4-wc-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.section-4 .s4-wc-img img {
    width: 80%;
    height: auto;
    margin: auto;

}

/* Moonlight Special Jumbotron */
#moonlight_special {
    padding: 20px 150px;
    height: 650px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 300px;
}


#moonlight_special h1 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 83px;
    color: #EBAD53
}

#moonlight_special p.lead {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #414042;
}

/* Section 5 */
section.section-5 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}



section.section-5 .s5-container > header{
    margin: 0;
    width: 50%;
    width: 80%;
    margin: auto;
}

section.section-5 .s5-container > p {
    width: 50%;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 80%;
    margin: 35px auto;
    color: #293E46
}

section.section-5 .s5-testimonials {
    display: flex;
    margin-top: 45px;
    width: 100%;
    max-width: 1440px;
    overflow-x: auto;
    padding: 0px 0px 120px 0px
}

section.section-5 .testimonial-card {
    margin: 15px;
}

section.section-5 .tc-image {
    width: 370px;
    height: 370px;
    background-color: #293E46;
}

section.section-5 .tc-container {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding: 34px 0px
}


/* Contact Us */
#contact-us {
    margin-top: 100px;
    margin-bottom: 100px;
}


#contact-us .input-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

#contact-form {
    margin-top: 50px;
}

#contact-us .input-container label {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #414042;
    margin-bottom: 15px;
}

#contact-us .input-container input, #contact-us .input-container textarea {
    border: 1px solid #414042;
    box-sizing: border-box;
    border-radius: 7px;
    color: #414042;
    background-color: transparent;
    padding: 15px 20px;
    font-family: 'Barlow', sans-serif;
}

#contact-us #submit {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 50px;
    margin-top: 50px;
    transition: 0.3s;
}

#contact-us #submit:hover {
    color: white;
    background-color: #EBAD53;
    border: 1px solid #EBAD53
}

/* Section - 6 */
section.section-6 {
    width: 100%;
    margin: auto;
    margin-bottom: 130px;
    background-color: #293E46;
    padding: 130px 0px;
}

section.section-6 .s6-container {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    color: white;
    position: relative;
}

section.section-6 .s6-book {
    display: flex;
    align-items: center;
}

section.section-6 .s6-book > div {
    width: 100%;
}

section.section-6 .s6-book-text header {
    margin: 0px;
    color: white;
}

section.section-6 .s6-book-text p {
    width: 70%;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

section.section-6 .s6-book-form form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column
}

section.section-6 .s6-book-form form input:not(input[type="submit"]) {
    margin-bottom: 30px;
    
}

section.section-6 .s6-book-form form input {
    padding: 20px 30px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5px;
    color: #293E46;
    border: none;

}

section.section-6 .s6-book-form form input[type="submit"] {
    background-color: #EBAD53;
    border: 1px solid #EBAD53;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

section.section-6 .s6-book-form form input[type="submit"]:hover {
    background-color: white;
    color: #EBAD53
}


/* Footer */
footer.site-footer {
    width: 100%;
    background: #293E46;
    color: white;
    padding: 70px 0px;
    
}

footer.site-footer .footer-container {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 20% 20%;
    position: relative;
}

footer.site-footer .footer-container > div {
    width: 100%;
}

footer.site-footer .footer-container div.footer-col-2, footer.site-footer .footer-container div.footer-col-3 {
    width: 100%
}

footer.site-footer .footer-header, footer.site-footer .footer-col-1 span{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

footer.site-footer .footer-col-1 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 0px;
    margin-top: 28px;
}

footer.site-footer .footer-col-1 p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0px 30px 0px;
}

footer.site-footer .footer-col-1 p a {
    color: white
}

footer.site-footer .footer-col-1 p a:hover {
    color: #EBAD53
}

footer.site-footer ul {
    padding: 0px;
    list-style: none;
    margin-top: 28px;
}

footer.site-footer ul li {
    margin-bottom: 10px
}

footer.site-footer ul li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

footer.site-footer ul li a:hover {
    color: #EBAD53
}

footer.site-footer .footer-col-3 {
    text-align: center;

}

footer.site-footer .footer-col-3 ul li a {
    font-size: 30px
}

footer.site-footer .footer-col-3 ul li a:hover {
    color: #EBAD53
}

/* Back to top button */
div.back-to-top {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #EBAD53;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #293E46;
    font-size: 75px;
    position: absolute;
    bottom: -200px; 
    left: -100px;
}




/* Brand Page */
section.section-1 {
    background: url('../img/eight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 918px;
}

section.section-1 .s1-overlay {
    background-color: rgba(41, 62, 70, 0.4);
    width: 100%;
    height: 100vh;
    max-height: 918px;
    position: absolute;
    z-index: 0
}

/* Brand Page Inner Section */
section.bp-1 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 50px 0px;
}

section.bp-1 .bp-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

section.bp-1 .bp-container .bp-bottle-img, section.bp-1 .bp-container .bp-bottle-text {
    width: 100%;
}

section.bp-1 .bp-bottle-text header.brand-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
    margin-bottom: 25px;
    color: #293E46;
}

section.bp-1 .bp-bottle-text p.sub-header {
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    color: #293E46;
}

section.bp-1 .bp-bottle-text p.bp-text-content {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 100px;
    color: #293E46;
}

section.bp-1 .bp-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section.bp-1 .bp-link-container h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    margin: 0px;
    color: #293E46;

}

section.bp-1 .bp-link-container .social-links {
    width: 100%;
}

section.bp-1 .bp-link-container .social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section.bp-1 .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

section.bp-1 .social-item span.fab {
    font-size: 40px;
    color: #293E46;
    margin-right: 20px;
}

section.bp-1 .social-item .bp-social-link {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #293E46;
}

section.bp-1 .bp-bottle-img {
   position: relative;
   top: -300px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}

section.bp-1 .bp-bottle-img img {
    height: 150vh;
    width: auto;
}


a.back-to-top-link {
    position: absolute;
    top: -200px;
    left: 70px;
}

/* Our story page */
body.our-story section.hero-section .hero-content-container .hero-text p{
    width: 500px;
    font-weight: 400px;

}

body.our-story section.hero-section .hero-content-container .hero-text h1 {
    color: #293E46
}

body.our-story section.hero-section .hero-content-container {
    justify-content: center;
}

body.our-story section.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;

}


/* OS Section 1 */
section.os-2 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}

section.os-2 .os2-container {
    width: 100%;
    max-width: 1440px;
    display: flex;

}

section.os-2 .os2-image {
    width: 30%;
    background: url("../img/four.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

section.os-2 .os2-image img{
    width: 100%;
    height: 100%;
}

section.os-2 .os2-text {
    width: 70%;
    padding: 0px 70px;
}

section.os-2 .os2-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    margin: 0px;
    color: #293E46
}

section.os-2 .os2-subheader {
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 60px;
    color: #293E46
}

section.os-2 .os2-text > p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin: 50px 0px 0px 0px;
    color: #293E46
}

/* OS Section 3 */
section.os-3 { 
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}

section.os-3 .os3-container {
    width: 80%;
    margin: auto;
}

section.os-3 .os3-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    color: #293E46
}

section.os-3 .os3-cta-col-1 {
    width: 80%;
}

section.os-3 .os3-cta-col-2 {
    width: 30%;
}

section.os-3 .os3-cta-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

section.os-3 .os3-subheader {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 500px;
    color: #293E46
}

section.os-3 .os3-cta-button {
    padding: 15px 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: #293E46;
    color: white;
    margin-left: auto;
}

section.os-3 .os3-cta-button:hover {
    background-color: #EBAD53
}

section.os-3 .os3-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    flex-wrap: wrap;

}

section.os-3 .os3-card {
    margin: 10px 20px;
}

section.os-3 .os3-card .os3-card-img {
    width: 200px;
    height: 200px;
    background: #293E46;
}

section.os-3 .os3-card .os3-card-container {
    padding: 25px;
    background-color: white
}

section.os-3 .os3-card .os3-card-container p {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #293E46
}

section.os-3 .os3-card .os3-card-container a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #293E46;
    text-decoration: none;
}

/* OS section 4 */

section.os-4 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
    height: 100vh;

}

section.os-4 .os4-container {
    width: 100%;
    height: inherit;
    
    background: url("../img/four.jpg");
    background-size: cover;
}

section.os-4 .os4-overlay {
    width: 100%;
    height: inherit;
    background-color: rgba(41, 62, 70, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.os-4 .os4-container img {
    width: 200px;
    height: auto;
}


/* OS section 5 */
section.os-5 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}

section.os-5 .os5-container {
    width: 80%;
    margin: auto;
}

section.os-5 header.os5-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
    color: #293E46
}

section.os-5 p.os5-subheader {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 50%;
    color: #293E46
}

section.os-5 .big-news-card {
    display: flex;
    margin: 50px 0px;
}

section.os-5 .big-news-card-img {
    width: 30%;
    background-image: url("../img/eight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section.os-5 .big-news-card-container {
    padding: 55px 70px;
    color: white;
    background-color: #293E46;
    width: 70%;
}

section.os-5 span.author {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;   
}

section.os-5 h1.big-news-card-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 80px;
    margin-top: 20px;
    color: #EBAD53
}

section.os-5 .big-news-card-container a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

section.os-5 .big-news-card-container a:hover {
    color: #EBAD53
}


section.os-5 .news-cards {
    display: flex;
    justify-content: space-between;
}

section.os-5 .news-card {
    width: 40%;
    background: white;
    padding: 48px;
}

section.os-5 .news-card-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
    color: #293E46;
}

section.os-5 .news-card p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
    color: #293E46;
}

section.os-5 .news-card a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #293E46;
}

section.os-5 .news-card a:hover {
    color: #EBAD53
}


/* Book a Call Page */
body.book-a-call section.hero-section .hero-content-container .hero-text p{
    width: 500px;
    color: #293E46;
}

body.book-a-call section.hero-section .hero-content-container .hero-text h1 {
    color: #293E46
}

body.book-a-call section.hero-section .hero-content-container {
    justify-content: center;
}

body.book-a-call section.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    
}


section.bc-2 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 100px;
}

section.bc-2 div.bc2-container {
    width: 80%;
    margin: auto;
}

section.bc-2 header.bc2-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    color: #293E46;
}

section.bc-2 .bc2-subheader {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 500px;
    color: #293E46;
}

section.bc-2 input, section.bc-2 textarea {
    padding: 20px 30px;
    font-family: 'Barlow', sans-serif;
    color: #293E46;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box; /* add this */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

section.bc-2 textarea {
    max-width: 100%;
    min-width: 100%;
}

section.bc-2 .header-text {
    margin-left: 50px;
}

section.bc-2 form.bc2-form {
    width: 100%;
}

section.bc-2 .input-col-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0px;
}

section.bc-2 .input-col-3 input {
    width: 32%;
}

section.bc-2 .input-col-1 {
    margin: 50px 0px;
}

/* Book a Call - Section 3 */
section.bc-3 {
    width: 100%;
    margin: auto;
    background: url("../img/eight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -20px;
}

section.bc-3 .bc3-overlay {
    background-color: rgba(41, 62, 70, 0.4);
}

section.bc-3 .bc3-container {
    width: 80%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 104px 0px;
}

section.bc-3 .bc3-map-container {
    width: 100%;
    height: 300px;
    margin-right: 67px;
    
}

section.bc-3 .bc3-map-container iframe{
    width: inherit;
    height: 300px;
}

section.bc-3 .bc3-text-container {
    color: white;
    width: 100%;
}

section.bc-3 .bc3-text-container p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0px;
}

section.bc-3 header.bc3-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
}


/* Mobile Header Nav menu */
@media only screen and (min-width: 1440px) {

    section.hero-section .hero-content-container .hero-text p {
        font-size: 22px;
    }

    body.brand-page section.hero-section .hero-content-container .hero-text h1 {
        font-size: 5vw !important
    }
}

@media only screen and (max-width: 1440px) {
    section.hero-section .hero-content-container .hero-text h1 {
        font-size: 8vw;
    }
}


/* Mobile Responsve 860px screen and below */
@media only screen and (max-width: 860px) {
    .navigation, .searchbar.desktop {
        display: none !important;
    }

    .header-container .logo-container {
        width: 50%;
    }

    .header-container {
        width: 100% !important;
        padding-top: 30px;
        position: sticky !important;
        top: 0;
        z-index: 3;
        background-color: rgba(242, 242, 242, 0.5);
    }

    .navigation-mobile {
        width: 90%;
        margin: auto;
        display: flex !important;
        align-items: center;
        
    }

    .header-container .logo-container img{
        width: 100%;
    }

    .menu-mobile {
        width: 50%;
        display: flex !important;
        justify-content: flex-end;
        font-size: 30px;
        color:rgb(41, 62, 70);
    }

    body.brand-page .menu-mobile {
        color: white;
    }

    .menu-mobile .fas {
        cursor: pointer;
    }

    .menu-mobile .fas:hover {
        color: #EBAD53
    }


    div.header-container {
        justify-content: flex-start
    }

    div.logo-container img.header-logo {
        width: 50px;
    }

    section.hero-section .hero-content-container {
        width: 100%;
    }

    section.hero-section {
        height: 70vh !important;
        margin-bottom: 100px;
    }

    /* mobile nav overlay */
    .mobile-nav {
        display: block;
        height: 100%;
        width: 70%;
        position: fixed;
        z-index: 4;
        top: 0;
        right: -100%;
        background-color: rgb(41, 62, 70);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 90px;
    }
    
    .mobile-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: 'Barlow', sans-serif
    }
    
    .mobile-nav a:hover {
        color: #EBAD53;
    }
    
    .mobile-nav .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 50px;
        font-weight: bold;
        margin-left: 50px;
    }

    section.hero-section .hero-content-container .hero-text p {
        width: 100%;
        font-size: 18px;
    }

    header.section-header {
        font-size: 32px;
    }

    section.section-4 p {
        font-size: 18px !important;
    }

    section.section-4 .s4-wc-text h1, section.section-4 .s4-wc-text button {
        margin-bottom: 20px !important;
    }

    section.hero-section .hero-content-container .hero-text p {
        margin-top: 20px;
    }

    section.section-3 .s3-container .s3-story-text p {
        width: 100%;
    }
    

    div.header-container {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: top 0.3s;
    }

    section.section-6 .s6-book {
        flex-wrap: wrap;
    }

    section.section-6 .s6-book-form form, section.section-6 .s6-book-text p {
        width: 100%;
    }

    section.section-6 .s6-book-form form {
        margin-top: 20px;
    }

    div.back-to-top {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }


    /* Brand Page Mobile */
    section.bp-1 .bp-bottle-img {
        top: 0;
        position: static;
    }

    section.bp-1 .bp-bottle-text p.bp-text-content {
        font-size: 20px;
    }

    section.bp-1 .bp-bottle-text p.sub-header {
        font-size: 16px;
        margin-bottom: 20px;
    }

    section.bp-1 .bp-link-container h1 {
        font-size: 26px;
    }

    section.bp-1 .social-item span.fab {
        font-size: 25px;
    }

    section.bp-1 .social-item .bp-social-link {
        font-size: 18px;
    }

    section.bp-1 .bp-bottle-img img {
        width: auto !important;
        height: 100% !important
    }

    section.bp-1 .bp-bottle-img {
        margin-right: 20px;
    }

    body.brand-page section.hero-section .hero-content-container .hero-text h1, section.bp-1 .bp-bottle-text header.brand-header {
        font-size: 36px;
    }

    .brand-page section.hero-section {
        margin-bottom: 0px;
    }

    section.section-1, section.section-1 .s1-overlay {
        height: 80vh
    }

    body.brand-page div.header-container {
        background-color: rgba(41, 62, 70, 0.4) !important
    }

    section.bp-1 .bp-bottle-text p.bp-text-content {
        margin-bottom: 30px;
    }

    /* Our Story */
    .hero-text {
        text-align: center;
    }

    section.os-2 .os2-header, section.os-3 .os3-header {
        font-size: 36px;
    }

    section.os-2 .os2-subheader, section.os-3 .os3-subheader, section.os-3 .os3-cta-button{
        font-size: 16px;
    }

    section.os-3 .os3-cta-button {
        padding: 15px 20px;
    }

    section.os-3 .os3-subheader {
        width: 80%;
    }

    section.os-2 .os2-text > p {
        font-size: 18px;
        margin-top: 30px;

    }

    section.os-3 .os3-cta-col-2 {
        width: auto !important;
    }

    section.os-5 header.os5-header {
        font-size: 36px;
    }

    section.os-5 p.os5-subheader {
        font-size: 18px;
    }

    section.os-5 h1.big-news-card-title {
        font-size: 32px;
    }

    body.our-story section.hero-section .hero-content-container .hero-text p {
        width: 100%;
    }

    section.os-5 .news-card-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    section.os-5 .news-card p {
        font-size: 16px;
    }

    section.os-5 .news-card {
        width: 45%;
        padding: 25px;
    }

    section.os-5 p.os5-subheader {
        width: 80%;
    }
}

@media only screen and (max-width: 680px) {
    section.section-3 .s3-container {
        flex-wrap: wrap-reverse;
        width: 90%;
    }

    section.section-3 .s3-container .s3-story-text {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    section.section-3 .s3-container .s3-story-icon img {
        width: 100px;
    }

    section.section-3 .s3-story-icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    section.section-4 .s4-wc-img {
        width: 50% !important;
    }

    section.bp-1 .bp-link-container {
        flex-wrap: wrap;

    }

    section.bp-1 .bp-link-container h1 {
        margin-bottom: 20px;
    }

    section.os-3 .os3-cta-container {
        flex-wrap: wrap;
    }

    section.os-3 .os3-cta-col-1, section.os-3 .os3-cta-col-2 {
        width: 100%;
    }

    section.os-3 .os3-cta-col-2 {
        margin-top: 30px;
    }

    section.os-3 .os3-cta-col-2 button {
        padding: 15px 50px;
    }

    section.os-5 h1.big-news-card-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    section.os-5 .big-news-card-container a {
        font-size: 16px;
    }

    section.os-5 .big-news-card-container {
        padding: 27px 35px;
    }

}


@media only screen and (max-width: 770px) {
    section.os-3 .os3-card .os3-card-img {
        width: 160px;
        height: 160px;
    }

    section.os-3 .os3-card .os3-card-container p {
        font-size: 16px;
    }
}


@media only screen and (max-width: 570px) {
    section.section-4 .s4-goals .s4-goal {
        flex-wrap: wrap;
    }

    section.section-4 .s4-goals .s4-goal h1 {
        margin-bottom: 10px;
    }

    body.brand-page section.hero-section .hero-content-container .hero-text h1, section.bp-1 .bp-bottle-text header.brand-header {
        font-size: 32px;
    }

    section.os-2 .os2-text {
        padding: 0px 20px;
    }

    section.os-5 .news-cards {
        flex-wrap: wrap;
    }

    section.os-5 .news-cards .news-card {
        width: 100%;
        margin: 20px 0px;
        padding: 48px;
    }
}

@media only screen and (max-width: 611px) {
    footer.site-footer .footer-container {
        grid-template-columns: 100%; 
    }

    footer.site-footer {
        padding: 30px 0px
    }

    footer.site-footer .footer-col-3 {
        text-align: left
    }

    footer.site-footer .footer-col-1 h1 {
        font-size: 32px;
    }

    .footer-col-1, .footer-col-2, .footer-col-3 {
        margin-bottom: 30px;
    }

    .social-icons {
        display: flex;
    }

    .social-icons li {
        margin: 0px 20px;
    }

    .social-icons li:nth-child(1) {
        margin-left: 0px;
    }

    .footer-header {
        font-size: 22px !important;
    }

    .footer-links a {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 580px) {
    section.os-5 .big-news-card {
        flex-wrap: wrap;
    }

    section.os-5 .big-news-card-img {
        width: 100%;
        height: 200px;
    }

    section.os-5 .big-news-card-container {
        width: 100%;
    }

    section.hero-section .hero-content-container .hero-img img {
        height: 300px;
        width: auto;
    }
}